<a href="https://colab.research.google.com/github/ShivarajShivaprakasha/Machine-Learning/blob/main/my_youtube_failure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('/content/youtube-channel-comparison - youtube-channel-comparison.csv')

In [ ]:
df.head()

,channel name,views,subs,last 30 days views,num videos,how old
0,Data School,9.73,193.0,106.0,138,01/05/2014
1,Bhavesh Bhatt,2.72,37.4,72.7,292,12/11/2017
2,Unfold Data Science,1.72,27.9,123.0,369,02/08/2019
3,Abhishek Thakur,1.74,69.8,59.6,139,26/12/2019
4,AppliedAI,13.20,77.9,98.6,497,28/09/2017

In [ ]:
df.shape

(51, 6)

In [ ]:
df['views'] = df['views'] * 1000000
df['subs'] = df['subs'] * 1000
df['last 30 days views'] = df['last 30 days views'] * 1000
df

,channel name,views,subs,last 30 days views,num videos,how old
0,Data School,9730000.0,193000.0,106000.0,138,01/05/2014
1,Bhavesh Bhatt,2720000.0,37400.0,72700.0,292,12/11/2017
2,Unfold Data Science,1720000.0,27900.0,123000.0,369,02/08/2019
3,Abhishek Thakur,1740000.0,69800.0,59600.0,139,26/12/2019
4,AppliedAI,13200000.0,77900.0,98600.0,497,28/09/2017
5,5 minutes engineering,37900000.0,303000.0,1610000.0,1390,17/08/2018
6,Serrano Academy,4770000.0,96400.0,70200.0,43,09/09/2016
7,Krish Naik,51100000.0,556000.0,1650000.0,1360,25/11/2017
8,Codebasics,35000000.0,557000.0,1470000.0,493,20/12/2015
9,Statquest,35900000.0,702000.0,1390000.0,217,03/02/2015
10,CampusX,1500000.0,18000.0,198000.0,1100,22/09/2019
11,Satyajit Pattnaik,480000.0,19400.0,56400.0,305,25/06/2020
12,Daniel Bourke,5280000.0,112000.0,84900.0,291,12/06/2018
13,Deeplizard,9330000.0,117000.0,167000.0,307,19/11/2017
14,Ken Jee,6060000.0,195000.0,153000.0,230,19/11/2017
15,Python Engineer,6960000.0,115000.0,823000.0,163,26/05/2019
16,KGPTalkie,4450000.0,39800.0,88800.0,593,17/05/2018
17,AI Engineering,1950000.0,62200.0,61400.0,261,08/09/2019
18,Nicolas Renotte,3440000.0,67900.0,312000.0,181,30/01/2019
19,Siddaharan,1020000.0,48600.0,118000.0,138,24/01/2021
20,Indian AI Production,3530000.0,31900.0,119000.0,342,01/06/2019
21,The AI University,1330000.0,24000.0,46200.0,332,28/01/2019
22,Harshit Tyagi,180000.0,8030.0,5240.0,44,23/03/2020
23,Developer Ashish,320000.0,16200.0,13300.0,39,06/04/2020
24,Normalized Nerd,1300000.0,30600.0,117000.0,88,11/02/2019
25,Smitha Kolan,1090000.0,37800.0,45400.0,66,15/09/2019
26,Shashank Kalanithi,3260000.0,81900.0,202000.0,111,06/05/2020
27,DigitalSreeni,2570000.0,38400.0,198000.0,316,06/05/2019
28,Brandon Rohrer,4390000.0,77300.0,46500.0,145,23/05/2016
29,Ranji Raj,6210000.0,42300.0,116000.0,539,24/06/2016
30,Abhishek Agarrwal,7430000.0,NaN,196000.0,1190,26/10/2016
31,Deeplearning.ai,11300000.0,170000.0,181000.0,219,26/08/2017
32,Deep Learning in Hindi,330000.0,4470.0,8410.0,201,30/06/2019
33,Fahad Hussain,1310000.0,16100.0,46500.0,741,20/07/2019
34,Data Science Jay,970000.0,22400.0,66600.0,95,28/01/2020
35,Sundas Khalid,2150000.0,64700.0,174000.0,51,21/08/2020
36,Seattle Data Guy,1200000.0,26000.0,108000.0,122,24/05/2018
37,Data Professor,2790000.0,116000.0,130000.0,272,20/08/2019
38,Tina Huang,10800000.0,294000.0,651000.0,92,22/07/2020
39,Data Science Career Coach,1540000.0,28000.0,124000.0,1410,21/01/2019
40,Sentdex,101000000.0,1110000.0,588000.0,1250,17/05/2013
41,Data Science Dojo,4690000.0,82700.0,66500.0,297,07/01/2017
42,Data Science Tutorials,3890000.0,38100.0,130000.0,869,26/09/2016
43,Brandon Foltz,23200000.0,262000.0,179000.0,259,31/07/2012
44,Datacamp,20800000.0,129000.0,627000.0,1240,04/12/2015
45,The Semiclon,2170000.0,23500.0,20300.0,46,19/01/2017
46,Ritvikmath,5780000.0,79900.0,215000.0,415,22/03/2015
47,kaggle,2940000.0,103000.0,55600.0,346,17/03/2018
48,ineuron,1130000.0,41700.0,705000.0,193,07/01/2020
49,Springboard,3900000.0,53000.0,141000.0,108,25/04/2019
50,Jovian,950000.0,27000.0,59700.0,148,11/07/2019

In [ ]:
df['how old'] = pd.to_datetime(df['how old'])
basedate = pd.Timestamp('2022-01-28')
df['old'] = (basedate - df['how old']).dt.days
df.drop(columns=['how old'],inplace=True)
df

,channel name,views,subs,last 30 days views,num videos,old
0,Data School,9730000.0,193000.0,106000.0,138,2945
1,Bhavesh Bhatt,2720000.0,37400.0,72700.0,292,1509
2,Unfold Data Science,1720000.0,27900.0,123000.0,369,1085
3,Abhishek Thakur,1740000.0,69800.0,59600.0,139,764
4,AppliedAI,13200000.0,77900.0,98600.0,497,1583
5,5 minutes engineering,37900000.0,303000.0,1610000.0,1390,1260
6,Serrano Academy,4770000.0,96400.0,70200.0,43,1967
7,Krish Naik,51100000.0,556000.0,1650000.0,1360,1525
8,Codebasics,35000000.0,557000.0,1470000.0,493,2231
9,Statquest,35900000.0,702000.0,1390000.0,217,2524
10,CampusX,1500000.0,18000.0,198000.0,1100,859
11,Satyajit Pattnaik,480000.0,19400.0,56400.0,305,582
12,Daniel Bourke,5280000.0,112000.0,84900.0,291,1149
13,Deeplizard,9330000.0,117000.0,167000.0,307,1531
14,Ken Jee,6060000.0,195000.0,153000.0,230,1531
15,Python Engineer,6960000.0,115000.0,823000.0,163,978
16,KGPTalkie,4450000.0,39800.0,88800.0,593,1352
17,AI Engineering,1950000.0,62200.0,61400.0,261,903
18,Nicolas Renotte,3440000.0,67900.0,312000.0,181,1094
19,Siddaharan,1020000.0,48600.0,118000.0,138,369
20,Indian AI Production,3530000.0,31900.0,119000.0,342,1118
21,The AI University,1330000.0,24000.0,46200.0,332,1096
22,Harshit Tyagi,180000.0,8030.0,5240.0,44,676
23,Developer Ashish,320000.0,16200.0,13300.0,39,603
24,Normalized Nerd,1300000.0,30600.0,117000.0,88,818
25,Smitha Kolan,1090000.0,37800.0,45400.0,66,866
26,Shashank Kalanithi,3260000.0,81900.0,202000.0,111,602
27,DigitalSreeni,2570000.0,38400.0,198000.0,316,968
28,Brandon Rohrer,4390000.0,77300.0,46500.0,145,2076
29,Ranji Raj,6210000.0,42300.0,116000.0,539,2044
30,Abhishek Agarrwal,7430000.0,NaN,196000.0,1190,1920
31,Deeplearning.ai,11300000.0,170000.0,181000.0,219,1616
32,Deep Learning in Hindi,330000.0,4470.0,8410.0,201,943
33,Fahad Hussain,1310000.0,16100.0,46500.0,741,923
34,Data Science Jay,970000.0,22400.0,66600.0,95,731
35,Sundas Khalid,2150000.0,64700.0,174000.0,51,525
36,Seattle Data Guy,1200000.0,26000.0,108000.0,122,1345
37,Data Professor,2790000.0,116000.0,130000.0,272,892
38,Tina Huang,10800000.0,294000.0,651000.0,92,555
39,Data Science Career Coach,1540000.0,28000.0,124000.0,1410,1103
40,Sentdex,101000000.0,1110000.0,588000.0,1250,3178
41,Data Science Dojo,4690000.0,82700.0,66500.0,297,1672
42,Data Science Tutorials,3890000.0,38100.0,130000.0,869,1950
43,Brandon Foltz,23200000.0,262000.0,179000.0,259,3468
44,Datacamp,20800000.0,129000.0,627000.0,1240,2483
45,The Semiclon,2170000.0,23500.0,20300.0,46,1835
46,Ritvikmath,5780000.0,79900.0,215000.0,415,2504
47,kaggle,2940000.0,103000.0,55600.0,346,1413
48,ineuron,1130000.0,41700.0,705000.0,193,576
49,Springboard,3900000.0,53000.0,141000.0,108,1009
50,Jovian,950000.0,27000.0,59700.0,148,813

In [ ]:
from sklearn.impute import KNNImputer
knn = KNNImputer(n_neighbors=3,weights='distance')

knn.fit_transform(df.iloc[:,1:])[30]

array([7.43000000e+06, 1.14611478e+05, 1.96000000e+05, 1.19000000e+03,
       1.92000000e+03])

In [ ]:
df['subs'].fillna(60580,inplace=True)

In [ ]:
df

,channel name,views,subs,last 30 days views,num videos,old
0,Data School,9730000.0,193000.0,106000.0,138,2945
1,Bhavesh Bhatt,2720000.0,37400.0,72700.0,292,1509
2,Unfold Data Science,1720000.0,27900.0,123000.0,369,1085
3,Abhishek Thakur,1740000.0,69800.0,59600.0,139,764
4,AppliedAI,13200000.0,77900.0,98600.0,497,1583
5,5 minutes engineering,37900000.0,303000.0,1610000.0,1390,1260
6,Serrano Academy,4770000.0,96400.0,70200.0,43,1967
7,Krish Naik,51100000.0,556000.0,1650000.0,1360,1525
8,Codebasics,35000000.0,557000.0,1470000.0,493,2231
9,Statquest,35900000.0,702000.0,1390000.0,217,2524
10,CampusX,1500000.0,18000.0,198000.0,1100,859
11,Satyajit Pattnaik,480000.0,19400.0,56400.0,305,582
12,Daniel Bourke,5280000.0,112000.0,84900.0,291,1149
13,Deeplizard,9330000.0,117000.0,167000.0,307,1531
14,Ken Jee,6060000.0,195000.0,153000.0,230,1531
15,Python Engineer,6960000.0,115000.0,823000.0,163,978
16,KGPTalkie,4450000.0,39800.0,88800.0,593,1352
17,AI Engineering,1950000.0,62200.0,61400.0,261,903
18,Nicolas Renotte,3440000.0,67900.0,312000.0,181,1094
19,Siddaharan,1020000.0,48600.0,118000.0,138,369
20,Indian AI Production,3530000.0,31900.0,119000.0,342,1118
21,The AI University,1330000.0,24000.0,46200.0,332,1096
22,Harshit Tyagi,180000.0,8030.0,5240.0,44,676
23,Developer Ashish,320000.0,16200.0,13300.0,39,603
24,Normalized Nerd,1300000.0,30600.0,117000.0,88,818
25,Smitha Kolan,1090000.0,37800.0,45400.0,66,866
26,Shashank Kalanithi,3260000.0,81900.0,202000.0,111,602
27,DigitalSreeni,2570000.0,38400.0,198000.0,316,968
28,Brandon Rohrer,4390000.0,77300.0,46500.0,145,2076
29,Ranji Raj,6210000.0,42300.0,116000.0,539,2044
30,Abhishek Agarrwal,7430000.0,60580.0,196000.0,1190,1920
31,Deeplearning.ai,11300000.0,170000.0,181000.0,219,1616
32,Deep Learning in Hindi,330000.0,4470.0,8410.0,201,943
33,Fahad Hussain,1310000.0,16100.0,46500.0,741,923
34,Data Science Jay,970000.0,22400.0,66600.0,95,731
35,Sundas Khalid,2150000.0,64700.0,174000.0,51,525
36,Seattle Data Guy,1200000.0,26000.0,108000.0,122,1345
37,Data Professor,2790000.0,116000.0,130000.0,272,892
38,Tina Huang,10800000.0,294000.0,651000.0,92,555
39,Data Science Career Coach,1540000.0,28000.0,124000.0,1410,1103
40,Sentdex,101000000.0,1110000.0,588000.0,1250,3178
41,Data Science Dojo,4690000.0,82700.0,66500.0,297,1672
42,Data Science Tutorials,3890000.0,38100.0,130000.0,869,1950
43,Brandon Foltz,23200000.0,262000.0,179000.0,259,3468
44,Datacamp,20800000.0,129000.0,627000.0,1240,2483
45,The Semiclon,2170000.0,23500.0,20300.0,46,1835
46,Ritvikmath,5780000.0,79900.0,215000.0,415,2504
47,kaggle,2940000.0,103000.0,55600.0,346,1413
48,ineuron,1130000.0,41700.0,705000.0,193,576
49,Springboard,3900000.0,53000.0,141000.0,108,1009
50,Jovian,950000.0,27000.0,59700.0,148,813

In [ ]:
# Views rank
print(np.where(df.sort_values('views',ascending=False)['channel name'] == 'CampusX')[0][0],'out of ',df.shape[0])

37 out of  51

In [ ]:
df.sort_values('views',ascending=False)[['channel name','views']].head(10)

             channel name        views
40                Sentdex  101000000.0
7              Krish Naik   51100000.0
5   5 minutes engineering   37900000.0
9               Statquest   35900000.0
8              Codebasics   35000000.0
43          Brandon Foltz   23200000.0
44               Datacamp   20800000.0
4               AppliedAI   13200000.0
31        Deeplearning.ai   11300000.0
38             Tina Huang   10800000.0

In [ ]:
# Subs rank
print(np.where(df.sort_values('subs',ascending=False)['channel name'] == 'CampusX')[0][0],'out of ',df.shape[0])

46 out of  51

In [ ]:
df.sort_values('subs',ascending=False)[['channel name','subs']].head(10)

             channel name       subs
40                Sentdex  1110000.0
9               Statquest   702000.0
8              Codebasics   557000.0
7              Krish Naik   556000.0
5   5 minutes engineering   303000.0
38             Tina Huang   294000.0
43          Brandon Foltz   262000.0
14                Ken Jee   195000.0
0             Data School   193000.0
31        Deeplearning.ai   170000.0

In [ ]:
# Number of videos rank
print(np.where(df.sort_values('num videos',ascending=False)['channel name'] == 'CampusX')[0][0],'out of ',df.shape[0])

6 out of  51

In [ ]:
df.sort_values('num videos',ascending=False)[['channel name','num videos']].head(10)

                 channel name  num videos
39  Data Science Career Coach        1410
5       5 minutes engineering        1390
7                  Krish Naik        1360
40                    Sentdex        1250
44                   Datacamp        1240
30          Abhishek Agarrwal        1190
10                    CampusX        1100
42     Data Science Tutorials         869
33              Fahad Hussain         741
16                  KGPTalkie         593

In [ ]:
# How old
print(np.where(df.sort_values('old',ascending=False)['channel name'] == 'CampusX')[0][0],'out of ',df.shape[0])

38 out of  51

In [ ]:
old_df = df.sort_values('old',ascending=False)[['channel name','old']].head(15)
old_df['old'] = round(old_df['old']/365)
old_df

              channel name   old
43           Brandon Foltz  10.0
40                 Sentdex   9.0
0              Data School   8.0
9                Statquest   7.0
46              Ritvikmath   7.0
44                Datacamp   7.0
8               Codebasics   6.0
28          Brandon Rohrer   6.0
29               Ranji Raj   6.0
6          Serrano Academy   5.0
42  Data Science Tutorials   5.0
30       Abhishek Agarrwal   5.0
45            The Semiclon   5.0
41       Data Science Dojo   5.0
31         Deeplearning.ai   4.0

In [ ]:
# last 30 days performance
print(np.where(df.sort_values('last 30 days views',ascending=False)['channel name'] == 'CampusX')[0][0],'out of ',df.shape[0])

13 out of  51

In [ ]:
df.sort_values('last 30 days views',ascending=False)[['channel name','last 30 days views']].head(15)

             channel name  last 30 days views
7              Krish Naik           1650000.0
5   5 minutes engineering           1610000.0
8              Codebasics           1470000.0
9               Statquest           1390000.0
15        Python Engineer            823000.0
48                ineuron            705000.0
38             Tina Huang            651000.0
44               Datacamp            627000.0
40                Sentdex            588000.0
18        Nicolas Renotte            312000.0
46             Ritvikmath            215000.0
26     Shashank Kalanithi            202000.0
27          DigitalSreeni            198000.0
10                CampusX            198000.0
30      Abhishek Agarrwal            196000.0

In [ ]:
# 1 subscriber ke liye views required
# view/subscriber count
df['v/s count'] = df['views']/df['subs']

print(51 - np.where(df['channel name'] == 'CampusX')[0][0],'out of ',df.shape[0])

df[['channel name','v/s count']].sort_values(['v/s count'],ascending=True)

41 out of  51

                 channel name   v/s count
23           Developer Ashish   19.753086
19                 Siddaharan   20.987654
22              Harshit Tyagi   22.415940
37             Data Professor   24.051724
11          Satyajit Pattnaik   24.742268
3             Abhishek Thakur   24.928367
48                    ineuron   27.098321
47                     kaggle   28.543689
25               Smitha Kolan   28.835979
14                    Ken Jee   31.076923
17             AI Engineering   31.350482
35              Sundas Khalid   33.230294
50                     Jovian   35.185185
38                 Tina Huang   36.734694
26         Shashank Kalanithi   39.804640
24            Normalized Nerd   42.483660
34           Data Science Jay   43.303571
36           Seattle Data Guy   46.153846
12              Daniel Bourke   47.142857
6             Serrano Academy   49.481328
0                 Data School   50.414508
18            Nicolas Renotte   50.662739
9                   Statquest   51.139601
39  Data Science Career Coach   55.000000
21          The AI University   55.416667
41          Data Science Dojo   56.711004
28             Brandon Rohrer   56.791721
15            Python Engineer   60.521739
2         Unfold Data Science   61.648746
8                  Codebasics   62.836625
31            Deeplearning.ai   66.470588
27              DigitalSreeni   66.927083
46                 Ritvikmath   72.340426
1               Bhavesh Bhatt   72.727273
49                Springboard   73.584906
32     Deep Learning in Hindi   73.825503
13                 Deeplizard   79.743590
33              Fahad Hussain   81.366460
10                    CampusX   83.333333
43              Brandon Foltz   88.549618
40                    Sentdex   90.990991
7                  Krish Naik   91.906475
45               The Semiclon   92.340426
42     Data Science Tutorials  102.099738
20       Indian AI Production  110.658307
16                  KGPTalkie  111.809045
30          Abhishek Agarrwal  122.647739
5       5 minutes engineering  125.082508
29                  Ranji Raj  146.808511
44                   Datacamp  161.240310
4                   AppliedAI  169.448010

In [ ]:
import plotly.express as px
fig = px.scatter(data_frame=df,x=df['views'], y=df['subs'],hover_name=df['channel name'])
fig.show()

In [ ]:
temp_df = df[df['views']>=1000000]
fig = px.scatter(data_frame=temp_df,x=temp_df['views'], y=temp_df['subs'],hover_name=temp_df['channel name'])
fig.show()

In [ ]:
# videos/subs ratio
df['vids/subs count'] = df['num videos']/df['subs']
df[['channel name','vids/subs count']].sort_values(['vids/subs count'])

                 channel name  vids/subs count
9                   Statquest         0.000309
38                 Tina Huang         0.000313
6             Serrano Academy         0.000446
0                 Data School         0.000715
35              Sundas Khalid         0.000788
8                  Codebasics         0.000885
43              Brandon Foltz         0.000989
40                    Sentdex         0.001126
14                    Ken Jee         0.001179
31            Deeplearning.ai         0.001288
26         Shashank Kalanithi         0.001355
15            Python Engineer         0.001417
25               Smitha Kolan         0.001746
28             Brandon Rohrer         0.001876
45               The Semiclon         0.001957
3             Abhishek Thakur         0.001991
49                Springboard         0.002038
37             Data Professor         0.002345
23           Developer Ashish         0.002407
7                  Krish Naik         0.002446
12              Daniel Bourke         0.002598
13                 Deeplizard         0.002624
18            Nicolas Renotte         0.002666
19                 Siddaharan         0.002840
24            Normalized Nerd         0.002876
47                     kaggle         0.003359
41          Data Science Dojo         0.003591
17             AI Engineering         0.004196
34           Data Science Jay         0.004241
5       5 minutes engineering         0.004587
48                    ineuron         0.004628
36           Seattle Data Guy         0.004692
46                 Ritvikmath         0.005194
22              Harshit Tyagi         0.005479
50                     Jovian         0.005481
4                   AppliedAI         0.006380
1               Bhavesh Bhatt         0.007807
27              DigitalSreeni         0.008229
44                   Datacamp         0.009612
20       Indian AI Production         0.010721
29                  Ranji Raj         0.012742
2         Unfold Data Science         0.013226
21          The AI University         0.013833
16                  KGPTalkie         0.014899
11          Satyajit Pattnaik         0.015722
30          Abhishek Agarrwal         0.019643
42     Data Science Tutorials         0.022808
32     Deep Learning in Hindi         0.044966
33              Fahad Hussain         0.046025
39  Data Science Career Coach         0.050357
10                    CampusX         0.061111

In [ ]:
# per day sub gain(time required to gain 1 subscriber)
df['per_day_subs_gain'] = df['old']/df['subs']
temp_df = df[['channel name','per_day_subs_gain']].sort_values(['per_day_subs_gain'])
temp_df['per_day_subs_gain'] = temp_df['per_day_subs_gain']*24*60

print(np.where(temp_df['channel name'] == 'CampusX')[0][0],'out of ',temp_df.shape[0])

temp_df

43 out of  51

                 channel name  per_day_subs_gain
38                 Tina Huang           2.718367
7                  Krish Naik           3.949640
40                    Sentdex           4.122811
9                   Statquest           5.177436
8                  Codebasics           5.767756
5       5 minutes engineering           5.988119
26         Shashank Kalanithi          10.584615
19                 Siddaharan          10.933333
37             Data Professor          11.073103
14                    Ken Jee          11.305846
35              Sundas Khalid          11.684699
15            Python Engineer          12.246261
31            Deeplearning.ai          13.688471
12              Daniel Bourke          14.772857
3             Abhishek Thakur          15.761605
13                 Deeplizard          18.843077
43              Brandon Foltz          19.060763
47                     kaggle          19.754563
48                    ineuron          19.890647
17             AI Engineering          20.905466
0                 Data School          21.973057
18            Nicolas Renotte          23.201178
49                Springboard          27.414340
44                   Datacamp          27.717209
41          Data Science Dojo          29.113422
4                   AppliedAI          29.262131
6             Serrano Academy          29.382573
25               Smitha Kolan          32.990476
27              DigitalSreeni          36.300000
24            Normalized Nerd          38.494118
28             Brandon Rohrer          38.673221
11          Satyajit Pattnaik          43.200000
50                     Jovian          43.360000
46                 Ritvikmath          45.128411
30          Abhishek Agarrwal          45.638825
34           Data Science Jay          46.992857
16                  KGPTalkie          48.916583
20       Indian AI Production          50.467712
23           Developer Ashish          53.600000
2         Unfold Data Science          56.000000
39  Data Science Career Coach          56.725714
1               Bhavesh Bhatt          58.100535
21          The AI University          65.760000
10                    CampusX          68.720000
29                  Ranji Raj          69.582979
42     Data Science Tutorials          73.700787
36           Seattle Data Guy          74.492308
33              Fahad Hussain          82.554037
45               The Semiclon         112.442553
22              Harshit Tyagi         121.225405
32     Deep Learning in Hindi         303.785235

In [ ]:
# aukaad ratio(how many views per subscriber provides)
df['last_month_subs_ratio'] = df['last 30 days views']/df['subs']
df[['channel name','last_month_subs_ratio']].sort_values(['last_month_subs_ratio'],ascending=False)

                 channel name  last_month_subs_ratio
48                    ineuron              16.906475
10                    CampusX              11.000000
15            Python Engineer               7.156522
5       5 minutes engineering               5.313531
27              DigitalSreeni               5.156250
44                   Datacamp               4.860465
18            Nicolas Renotte               4.594993
39  Data Science Career Coach               4.428571
2         Unfold Data Science               4.408602
36           Seattle Data Guy               4.153846
24            Normalized Nerd               3.823529
20       Indian AI Production               3.730408
42     Data Science Tutorials               3.412073
30          Abhishek Agarrwal               3.235391
34           Data Science Jay               2.973214
7                  Krish Naik               2.967626
11          Satyajit Pattnaik               2.907216
33              Fahad Hussain               2.888199
29                  Ranji Raj               2.742317
46                 Ritvikmath               2.690864
35              Sundas Khalid               2.689335
49                Springboard               2.660377
8                  Codebasics               2.639138
26         Shashank Kalanithi               2.466422
19                 Siddaharan               2.427984
16                  KGPTalkie               2.231156
38                 Tina Huang               2.214286
50                     Jovian               2.211111
9                   Statquest               1.980057
1               Bhavesh Bhatt               1.943850
21          The AI University               1.925000
32     Deep Learning in Hindi               1.881432
13                 Deeplizard               1.427350
4                   AppliedAI               1.265725
25               Smitha Kolan               1.201058
37             Data Professor               1.120690
31            Deeplearning.ai               1.064706
17             AI Engineering               0.987138
45               The Semiclon               0.863830
3             Abhishek Thakur               0.853868
23           Developer Ashish               0.820988
41          Data Science Dojo               0.804111
14                    Ken Jee               0.784615
12              Daniel Bourke               0.758036
6             Serrano Academy               0.728216
43              Brandon Foltz               0.683206
22              Harshit Tyagi               0.652553
28             Brandon Rohrer               0.601552
0                 Data School               0.549223
47                     kaggle               0.539806
40                    Sentdex               0.529730

In [ ]:
# views/minute
df['views/day'] = df['views']/df['old']
temp_df = df[['channel name','views/day']].sort_values(['views/day'],ascending=False)

print(np.where(temp_df['channel name'] == 'CampusX')[0][0],'out of ',temp_df.shape[0])

temp_df

36 out of  51

                 channel name     views/day
7                  Krish Naik  33508.196721
40                    Sentdex  31780.994336
5       5 minutes engineering  30079.365079
38                 Tina Huang  19459.459459
8                  Codebasics  15688.032273
9                   Statquest  14223.454834
44                   Datacamp   8376.963351
4                   AppliedAI   8338.597599
15            Python Engineer   7116.564417
31            Deeplearning.ai   6992.574257
43              Brandon Foltz   6689.734717
13                 Deeplizard   6094.056172
26         Shashank Kalanithi   5415.282392
12              Daniel Bourke   4595.300261
35              Sundas Khalid   4095.238095
14                    Ken Jee   3958.197257
30          Abhishek Agarrwal   3869.791667
49                Springboard   3865.213082
0                 Data School   3303.904924
16                  KGPTalkie   3291.420118
20       Indian AI Production   3157.423971
18            Nicolas Renotte   3144.424132
37             Data Professor   3127.802691
29                  Ranji Raj   3038.160470
41          Data Science Dojo   2805.023923
19                 Siddaharan   2764.227642
27              DigitalSreeni   2654.958678
6             Serrano Academy   2425.012710
46                 Ritvikmath   2308.306709
3             Abhishek Thakur   2277.486911
17             AI Engineering   2159.468439
28             Brandon Rohrer   2114.643545
47                     kaggle   2080.679406
42     Data Science Tutorials   1994.871795
48                    ineuron   1961.805556
1               Bhavesh Bhatt   1802.518224
10                    CampusX   1746.216531
24            Normalized Nerd   1589.242054
2         Unfold Data Science   1585.253456
33              Fahad Hussain   1419.284940
39  Data Science Career Coach   1396.192203
34           Data Science Jay   1326.949384
25               Smitha Kolan   1258.660508
21          The AI University   1213.503650
45               The Semiclon   1182.561308
50                     Jovian   1168.511685
36           Seattle Data Guy    892.193309
11          Satyajit Pattnaik    824.742268
23           Developer Ashish    530.679934
32     Deep Learning in Hindi    349.946978
22              Harshit Tyagi    266.272189

In [ ]:
# views/video
df['views/num_video'] = df['views']/df['num videos']
temp_df = df[['channel name','views/num_video']].sort_values(['views/num_video'],ascending=False)

print(np.where(temp_df['channel name'] == 'CampusX')[0][0],'out of ',temp_df.shape[0])

temp_df

49 out of  51

                 channel name  views/num_video
9                   Statquest    165437.788018
38                 Tina Huang    117391.304348
6             Serrano Academy    110930.232558
43              Brandon Foltz     89575.289575
40                    Sentdex     80800.000000
8                  Codebasics     70993.914807
0                 Data School     70507.246377
31            Deeplearning.ai     51598.173516
45               The Semiclon     47173.913043
15            Python Engineer     42699.386503
35              Sundas Khalid     42156.862745
7                  Krish Naik     37573.529412
49                Springboard     36111.111111
13                 Deeplizard     30390.879479
28             Brandon Rohrer     30275.862069
26         Shashank Kalanithi     29369.369369
5       5 minutes engineering     27266.187050
4                   AppliedAI     26559.356137
14                    Ken Jee     26347.826087
18            Nicolas Renotte     19005.524862
12              Daniel Bourke     18144.329897
44                   Datacamp     16774.193548
25               Smitha Kolan     16515.151515
41          Data Science Dojo     15791.245791
24            Normalized Nerd     14772.727273
46                 Ritvikmath     13927.710843
3             Abhishek Thakur     12517.985612
29                  Ranji Raj     11521.335807
20       Indian AI Production     10321.637427
37             Data Professor     10257.352941
34           Data Science Jay     10210.526316
36           Seattle Data Guy      9836.065574
1               Bhavesh Bhatt      9315.068493
47                     kaggle      8497.109827
23           Developer Ashish      8205.128205
27              DigitalSreeni      8132.911392
16                  KGPTalkie      7504.215852
17             AI Engineering      7471.264368
19                 Siddaharan      7391.304348
50                     Jovian      6418.918919
30          Abhishek Agarrwal      6243.697479
48                    ineuron      5854.922280
2         Unfold Data Science      4661.246612
42     Data Science Tutorials      4476.409666
22              Harshit Tyagi      4090.909091
21          The AI University      4006.024096
33              Fahad Hussain      1767.881242
32     Deep Learning in Hindi      1641.791045
11          Satyajit Pattnaik      1573.770492
10                    CampusX      1363.636364
39  Data Science Career Coach      1092.198582

In [ ]:


# pca(higher dim viz)
viz_df = df[['channel name','views','subs','last 30 days views','num videos','old']]

from sklearn.preprocessing import StandardScaler

X = viz_df.iloc[:, 1:].values
# Standardizing the features
X = StandardScaler().fit_transform(X)

In [ ]:
from sklearn.decomposition import PCA
pca = PCA(n_components=2)
X_embedded = pca.fit_transform(X)

In [ ]:
X_embedded

array([[ 5.75823835e-01, -2.16614667e+00],
       [-6.81393623e-01, -4.22782904e-01],
       [-8.31762958e-01,  1.74009762e-01],
       [-1.15639844e+00,  1.58759485e-01],
       [ 6.54233718e-03, -3.03082949e-01],
       [ 3.60619789e+00,  2.60506639e+00],
       [-4.53960167e-01, -1.21798196e+00],
       [ 4.83883267e+00,  2.15508127e+00],
       [ 3.72338637e+00,  3.05898757e-01],
       [ 3.94967397e+00, -4.83376334e-01],
       [-2.48318906e-01,  1.30667759e+00],
       [-1.27607320e+00,  5.59907282e-01],
       [-5.75427421e-01, -8.33597189e-02],
       [-1.38577543e-01, -3.84169114e-01],
       [-1.22303367e-01, -5.18265175e-01],
       [ 6.16258344e-02,  8.28545936e-01],
       [-4.14152485e-01,  8.31031233e-02],
       [-9.88275968e-01,  1.52594576e-01],
       [-6.36570596e-01,  1.55794730e-01],
       [-1.37478156e+00,  6.55137417e-01],
       [-7.75109177e-01,  9.67830374e-02],
       [-9.62638004e-01,  3.38961564e-02],
       [-1.55434609e+00,  1.22185275e-01],
       [-1.56155049e+00,  1.97634446e-01],
       [-1.23065281e+00,  1.38522788e-01],
       [-1.28911697e+00, -2.45712372e-02],
       [-1.03365341e+00,  4.55549306e-01],
       [-8.04952110e-01,  3.19095665e-01],
       [-3.94639905e-01, -1.23657456e+00],
       [-1.97329801e-02, -6.75147214e-01],
       [ 6.69018597e-01,  2.48361780e-01],
       [ 4.22553872e-02, -5.89378504e-01],
       [-1.27992401e+00,  1.99300132e-02],
       [-7.06552566e-01,  6.67642305e-01],
       [-1.35357770e+00,  1.82867923e-01],
       [-1.23612794e+00,  4.50508724e-01],
       [-9.57476607e-01, -3.83597162e-01],
       [-7.44356993e-01,  2.24729621e-01],
       [ 1.93233756e-01,  8.74199638e-01],
       [ 1.01687762e-01,  1.29665797e+00],
       [ 7.50314593e+00, -1.44344493e+00],
       [-4.19386275e-01, -6.27545427e-01],
       [ 1.56702096e-01, -1.88579075e-01],
       [ 1.63623151e+00, -2.57833010e+00],
       [ 2.05836675e+00,  1.44282284e-01],
       [-8.44404965e-01, -1.08609511e+00],
       [ 2.91953363e-01, -1.19405701e+00],
       [-5.21349195e-01, -3.21420637e-01],
       [-6.17529824e-01,  1.20244137e+00],
       [-9.49071559e-01, -3.22702830e-02],
       [-1.26053224e+00,  1.44311458e-01]])

In [ ]:
fig = px.scatter(data_frame=temp_df,x=X_embedded[:,0], y=X_embedded[:,1],hover_name=viz_df['channel name'])
fig.show()

In [ ]:
# hona kitta chahiye tha?
# prepare data
index_of_campusx = np.where(df['channel name'] == 'CampusX')[0][0]

X_df = df[['views','last 30 days views','num videos','old','subs']]

X_df['subs'] = X_df['subs']/1000

X_df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

          views  last 30 days views  num videos   old     subs
0     9730000.0            106000.0         138  2945   193.00
1     2720000.0             72700.0         292  1509    37.40
2     1720000.0            123000.0         369  1085    27.90
3     1740000.0             59600.0         139   764    69.80
4    13200000.0             98600.0         497  1583    77.90
5    37900000.0           1610000.0        1390  1260   303.00
6     4770000.0             70200.0          43  1967    96.40
7    51100000.0           1650000.0        1360  1525   556.00
8    35000000.0           1470000.0         493  2231   557.00
9    35900000.0           1390000.0         217  2524   702.00
10    1500000.0            198000.0        1100   859    18.00
11     480000.0             56400.0         305   582    19.40
12    5280000.0             84900.0         291  1149   112.00
13    9330000.0            167000.0         307  1531   117.00
14    6060000.0            153000.0         230  1531   195.00
15    6960000.0            823000.0         163   978   115.00
16    4450000.0             88800.0         593  1352    39.80
17    1950000.0             61400.0         261   903    62.20
18    3440000.0            312000.0         181  1094    67.90
19    1020000.0            118000.0         138   369    48.60
20    3530000.0            119000.0         342  1118    31.90
21    1330000.0             46200.0         332  1096    24.00
22     180000.0              5240.0          44   676     8.03
23     320000.0             13300.0          39   603    16.20
24    1300000.0            117000.0          88   818    30.60
25    1090000.0             45400.0          66   866    37.80
26    3260000.0            202000.0         111   602    81.90
27    2570000.0            198000.0         316   968    38.40
28    4390000.0             46500.0         145  2076    77.30
29    6210000.0            116000.0         539  2044    42.30
30    7430000.0            196000.0        1190  1920    60.58
31   11300000.0            181000.0         219  1616   170.00
32     330000.0              8410.0         201   943     4.47
33    1310000.0             46500.0         741   923    16.10
34     970000.0             66600.0          95   731    22.40
35    2150000.0            174000.0          51   525    64.70
36    1200000.0            108000.0         122  1345    26.00
37    2790000.0            130000.0         272   892   116.00
38   10800000.0            651000.0          92   555   294.00
39    1540000.0            124000.0        1410  1103    28.00
40  101000000.0            588000.0        1250  3178  1110.00
41    4690000.0             66500.0         297  1672    82.70
42    3890000.0            130000.0         869  1950    38.10
43   23200000.0            179000.0         259  3468   262.00
44   20800000.0            627000.0        1240  2483   129.00
45    2170000.0             20300.0          46  1835    23.50
46    5780000.0            215000.0         415  2504    79.90
47    2940000.0             55600.0         346  1413   103.00
48    1130000.0            705000.0         193   576    41.70
49    3900000.0            141000.0         108  1009    53.00
50     950000.0             59700.0         148   813    27.00

In [ ]:
scaler = StandardScaler()
X_input = scaler.fit_transform(X_df.iloc[:,:-1])

In [ ]:
campusx_input = X_input[10]

In [ ]:
# delete the campusx row
X_input = np.delete(X_input,(10), axis=0)

In [ ]:
y = X_df.iloc[:,-1].values
y = np.delete(y,(10))

In [ ]:
import tensorflow
from tensorflow import keras
from keras import Sequential
from keras.layers import Dense

In [ ]:
model = Sequential()

model.add(Dense(10,activation='relu',input_dim=4))
model.add(Dense(10,activation='relu'))
model.add(Dense(10,activation='relu'))
model.add(Dense(10,activation='relu'))
model.add(Dense(10,activation='relu'))
model.add(Dense(1,activation='linear'))

In [ ]:
model.summary()

Model: "sequential_6"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_18 (Dense)            (None, 10)                50

 dense_19 (Dense)            (None, 10)                110

 dense_20 (Dense)            (None, 10)                110

 dense_21 (Dense)            (None, 10)                110

 dense_22 (Dense)            (None, 10)                110

 dense_23 (Dense)            (None, 1)                 11

=================================================================
Total params: 501
Trainable params: 501
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.compile(optimizer='Adam',loss='mean_absolute_error')

In [ ]:
model.fit(X_input,y,epochs=1000,validation_split=0.1)

Epoch 1/1000
2/2 [==============================] - 2s 330ms/step - loss: 138.5218 - val_loss: 60.9175
Epoch 2/1000
2/2 [==============================] - 0s 56ms/step - loss: 138.5066 - val_loss: 60.9050
Epoch 3/1000
2/2 [==============================] - 0s 36ms/step - loss: 138.4930 - val_loss: 60.8919
Epoch 4/1000
2/2 [==============================] - 0s 57ms/step - loss: 138.4806 - val_loss: 60.8798
Epoch 5/1000
2/2 [==============================] - 0s 66ms/step - loss: 138.4680 - val_loss: 60.8679
Epoch 6/1000
2/2 [==============================] - 0s 37ms/step - loss: 138.4537 - val_loss: 60.8562
Epoch 7/1000
2/2 [==============================] - 0s 40ms/step - loss: 138.4395 - val_loss: 60.8439
Epoch 8/1000
2/2 [==============================] - 0s 41ms/step - loss: 138.4250 - val_loss: 60.8309
Epoch 9/1000
2/2 [==============================] - 0s 38ms/step - loss: 138.4089 - val_loss: 60.8162
Epoch 10/1000
2/2 [==============================] - 0s 48ms/step - loss: 138.3932 - val_loss: 60.8023
Epoch 11/1000
2/2 [==============================] - 0s 43ms/step - loss: 138.3763 - val_loss: 60.7891
Epoch 12/1000
2/2 [==============================] - 0s 52ms/step - loss: 138.3570 - val_loss: 60.7753
Epoch 13/1000
2/2 [==============================] - 0s 82ms/step - loss: 138.3400 - val_loss: 60.7610
Epoch 14/1000
2/2 [==============================] - 0s 61ms/step - loss: 138.3215 - val_loss: 60.7454
Epoch 15/1000
2/2 [==============================] - 0s 42ms/step - loss: 138.3029 - val_loss: 60.7292
Epoch 16/1000
2/2 [==============================] - 0s 70ms/step - loss: 138.2826 - val_loss: 60.7125
Epoch 17/1000
2/2 [==============================] - 0s 58ms/step - loss: 138.2610 - val_loss: 60.6951
Epoch 18/1000
2/2 [==============================] - 0s 40ms/step - loss: 138.2415 - val_loss: 60.6771
Epoch 19/1000
2/2 [==============================] - 0s 36ms/step - loss: 138.2182 - val_loss: 60.6586
Epoch 20/1000
2/2 [==============================] - 0s 47ms/step - loss: 138.1953 - val_loss: 60.6392
Epoch 21/1000
2/2 [==============================] - 0s 42ms/step - loss: 138.1707 - val_loss: 60.6190
Epoch 22/1000
2/2 [==============================] - 0s 39ms/step - loss: 138.1453 - val_loss: 60.5976
Epoch 23/1000
2/2 [==============================] - 0s 38ms/step - loss: 138.1160 - val_loss: 60.5745
Epoch 24/1000
2/2 [==============================] - 0s 50ms/step - loss: 138.0871 - val_loss: 60.5501
Epoch 25/1000
2/2 [==============================] - 0s 37ms/step - loss: 138.0557 - val_loss: 60.5246
Epoch 26/1000
2/2 [==============================] - 0s 40ms/step - loss: 138.0217 - val_loss: 60.4976
Epoch 27/1000
2/2 [==============================] - 0s 66ms/step - loss: 137.9873 - val_loss: 60.4694
Epoch 28/1000
2/2 [==============================] - 0s 47ms/step - loss: 137.9481 - val_loss: 60.4393
Epoch 29/1000
2/2 [==============================] - 0s 48ms/step - loss: 137.9101 - val_loss: 60.4064
Epoch 30/1000
2/2 [==============================] - 0s 39ms/step - loss: 137.8678 - val_loss: 60.3711
Epoch 31/1000
2/2 [==============================] - 0s 65ms/step - loss: 137.8228 - val_loss: 60.3337
Epoch 32/1000
2/2 [==============================] - 0s 69ms/step - loss: 137.7757 - val_loss: 60.2945
Epoch 33/1000
2/2 [==============================] - 0s 42ms/step - loss: 137.7249 - val_loss: 60.2532
Epoch 34/1000
2/2 [==============================] - 0s 65ms/step - loss: 137.6723 - val_loss: 60.2090
Epoch 35/1000
2/2 [==============================] - 0s 39ms/step - loss: 137.6149 - val_loss: 60.1622
Epoch 36/1000
2/2 [==============================] - 0s 61ms/step - loss: 137.5517 - val_loss: 60.1127
Epoch 37/1000
2/2 [==============================] - 0s 44ms/step - loss: 137.4877 - val_loss: 60.0602
Epoch 38/1000
2/2 [==============================] - 0s 43ms/step - loss: 137.4181 - val_loss: 60.0046
Epoch 39/1000
2/2 [==============================] - 0s 45ms/step - loss: 137.3453 - val_loss: 59.9454
Epoch 40/1000
2/2 [==============================] - 0s 51ms/step - loss: 137.2673 - val_loss: 59.8828
Epoch 41/1000
2/2 [==============================] - 0s 40ms/step - loss: 137.1844 - val_loss: 59.8151
Epoch 42/1000
2/2 [==============================] - 0s 40ms/step - loss: 137.0963 - val_loss: 59.7436
Epoch 43/1000
2/2 [==============================] - 0s 46ms/step - loss: 136.9973 - val_loss: 59.6676
Epoch 44/1000
2/2 [==============================] - 0s 46ms/step - loss: 136.9030 - val_loss: 59.5868
Epoch 45/1000
2/2 [==============================] - 0s 43ms/step - loss: 136.7959 - val_loss: 59.5003
Epoch 46/1000
2/2 [==============================] - 0s 57ms/step - loss: 136.6805 - val_loss: 59.4085
Epoch 47/1000
2/2 [==============================] - 0s 39ms/step - loss: 136.5645 - val_loss: 59.3102
Epoch 48/1000
2/2 [==============================] - 0s 49ms/step - loss: 136.4276 - val_loss: 59.2046
Epoch 49/1000
2/2 [==============================] - 0s 62ms/step - loss: 136.2986 - val_loss: 59.0911
Epoch 50/1000
2/2 [==============================] - 0s 42ms/step - loss: 136.1516 - val_loss: 58.9695
Epoch 51/1000
2/2 [==============================] - 0s 45ms/step - loss: 135.9908 - val_loss: 58.8398
Epoch 52/1000
2/2 [==============================] - 0s 73ms/step - loss: 135.8225 - val_loss: 58.7010
Epoch 53/1000
2/2 [==============================] - 0s 49ms/step - loss: 135.6304 - val_loss: 58.5514
Epoch 54/1000
2/2 [==============================] - 0s 49ms/step - loss: 135.4461 - val_loss: 58.3906
Epoch 55/1000
2/2 [==============================] - 0s 47ms/step - loss: 135.2252 - val_loss: 58.2192
Epoch 56/1000
2/2 [==============================] - 0s 43ms/step - loss: 135.0106 - val_loss: 58.0350
Epoch 57/1000
2/2 [==============================] - 0s 41ms/step - loss: 134.7762 - val_loss: 57.8384
Epoch 58/1000
2/2 [==============================] - 0s 41ms/step - loss: 134.4986 - val_loss: 57.6289
Epoch 59/1000
2/2 [==============================] - 0s 63ms/step - loss: 134.2305 - val_loss: 57.4000
Epoch 60/1000
2/2 [==============================] - 0s 46ms/step - loss: 133.9458 - val_loss: 57.1546
Epoch 61/1000
2/2 [==============================] - 0s 37ms/step - loss: 133.6252 - val_loss: 56.8934
Epoch 62/1000
2/2 [==============================] - 0s 84ms/step - loss: 133.2820 - val_loss: 56.6152
Epoch 63/1000
2/2 [==============================] - 0s 76ms/step - loss: 132.9367 - val_loss: 56.3189
Epoch 64/1000
2/2 [==============================] - 0s 136ms/step - loss: 132.5614 - val_loss: 56.0054
Epoch 65/1000
2/2 [==============================] - 0s 127ms/step - loss: 132.1694 - val_loss: 55.6727
Epoch 66/1000
2/2 [==============================] - 0s 113ms/step - loss: 131.7560 - val_loss: 55.3194
Epoch 67/1000
2/2 [==============================] - 0s 133ms/step - loss: 131.3106 - val_loss: 54.9429
Epoch 68/1000
2/2 [==============================] - 0s 92ms/step - loss: 130.8700 - val_loss: 54.5413
Epoch 69/1000
2/2 [==============================] - 0s 82ms/step - loss: 130.3286 - val_loss: 54.1157
Epoch 70/1000
2/2 [==============================] - 0s 34ms/step - loss: 129.8412 - val_loss: 53.6604
Epoch 71/1000
2/2 [==============================] - 0s 25ms/step - loss: 129.2856 - val_loss: 53.1791
Epoch 72/1000
2/2 [==============================] - 0s 27ms/step - loss: 128.7138 - val_loss: 52.6703
Epoch 73/1000
2/2 [==============================] - 0s 26ms/step - loss: 128.1593 - val_loss: 52.1318
Epoch 74/1000
2/2 [==============================] - 0s 34ms/step - loss: 127.5115 - val_loss: 51.5633
Epoch 75/1000
2/2 [==============================] - 0s 30ms/step - loss: 126.8291 - val_loss: 50.9598
Epoch 76/1000
2/2 [==============================] - 0s 30ms/step - loss: 126.1601 - val_loss: 50.3184
Epoch 77/1000
2/2 [==============================] - 0s 29ms/step - loss: 125.3800 - val_loss: 49.6416
Epoch 78/1000
2/2 [==============================] - 0s 28ms/step - loss: 124.6161 - val_loss: 48.9242
Epoch 79/1000
2/2 [==============================] - 0s 26ms/step - loss: 123.7672 - val_loss: 48.1651
Epoch 80/1000
2/2 [==============================] - 0s 26ms/step - loss: 122.9052 - val_loss: 47.3604
Epoch 81/1000
2/2 [==============================] - 0s 30ms/step - loss: 121.9563 - val_loss: 46.5126
Epoch 82/1000
2/2 [==============================] - 0s 36ms/step - loss: 120.9926 - val_loss: 45.6064
Epoch 83/1000
2/2 [==============================] - 0s 34ms/step - loss: 120.0808 - val_loss: 44.6603
Epoch 84/1000
2/2 [==============================] - 0s 27ms/step - loss: 119.1469 - val_loss: 43.6926
Epoch 85/1000
2/2 [==============================] - 0s 28ms/step - loss: 118.1387 - val_loss: 42.6916
Epoch 86/1000
2/2 [==============================] - 0s 27ms/step - loss: 117.1498 - val_loss: 41.6375
Epoch 87/1000
2/2 [==============================] - 0s 27ms/step - loss: 116.0921 - val_loss: 40.5464
Epoch 88/1000
2/2 [==============================] - 0s 27ms/step - loss: 115.0695 - val_loss: 39.4169
Epoch 89/1000
2/2 [==============================] - 0s 29ms/step - loss: 113.9448 - val_loss: 38.2401
Epoch 90/1000
2/2 [==============================] - 0s 28ms/step - loss: 112.7893 - val_loss: 36.9897
Epoch 91/1000
2/2 [==============================] - 0s 27ms/step - loss: 111.5805 - val_loss: 36.1940
Epoch 92/1000
2/2 [==============================] - 0s 28ms/step - loss: 110.3636 - val_loss: 35.4248
Epoch 93/1000
2/2 [==============================] - 0s 34ms/step - loss: 109.0881 - val_loss: 34.6316
Epoch 94/1000
2/2 [==============================] - 0s 27ms/step - loss: 107.8820 - val_loss: 33.8025
Epoch 95/1000
2/2 [==============================] - 0s 31ms/step - loss: 106.4459 - val_loss: 32.9470
Epoch 96/1000
2/2 [==============================] - 0s 28ms/step - loss: 105.3896 - val_loss: 32.0686
Epoch 97/1000
2/2 [==============================] - 0s 27ms/step - loss: 104.0002 - val_loss: 31.1986
Epoch 98/1000
2/2 [==============================] - 0s 29ms/step - loss: 102.7976 - val_loss: 30.3166
Epoch 99/1000
2/2 [==============================] - 0s 32ms/step - loss: 101.8146 - val_loss: 29.4480
Epoch 100/1000
2/2 [==============================] - 0s 28ms/step - loss: 100.5808 - val_loss: 28.6244
Epoch 101/1000
2/2 [==============================] - 0s 25ms/step - loss: 99.5997 - val_loss: 27.8109
Epoch 102/1000
2/2 [==============================] - 0s 27ms/step - loss: 98.5409 - val_loss: 26.9967
Epoch 103/1000
2/2 [==============================] - 0s 27ms/step - loss: 97.5569 - val_loss: 26.1822
Epoch 104/1000
2/2 [==============================] - 0s 30ms/step - loss: 96.8965 - val_loss: 25.6226
Epoch 105/1000
2/2 [==============================] - 0s 28ms/step - loss: 95.8721 - val_loss: 25.2398
Epoch 106/1000
2/2 [==============================] - 0s 27ms/step - loss: 94.9540 - val_loss: 24.8479
Epoch 107/1000
2/2 [==============================] - 0s 26ms/step - loss: 93.9994 - val_loss: 24.4382
Epoch 108/1000
2/2 [==============================] - 0s 36ms/step - loss: 93.1380 - val_loss: 24.0093
Epoch 109/1000
2/2 [==============================] - 0s 28ms/step - loss: 91.9980 - val_loss: 23.5891
Epoch 110/1000
2/2 [==============================] - 0s 28ms/step - loss: 91.4058 - val_loss: 23.1584
Epoch 111/1000
2/2 [==============================] - 0s 32ms/step - loss: 90.6077 - val_loss: 22.7476
Epoch 112/1000
2/2 [==============================] - 0s 32ms/step - loss: 89.7604 - val_loss: 22.3543
Epoch 113/1000
2/2 [==============================] - 0s 27ms/step - loss: 88.9430 - val_loss: 21.9685
Epoch 114/1000
2/2 [==============================] - 0s 27ms/step - loss: 88.2295 - val_loss: 21.5870
Epoch 115/1000
2/2 [==============================] - 0s 27ms/step - loss: 87.2761 - val_loss: 21.3106
Epoch 116/1000
2/2 [==============================] - 0s 32ms/step - loss: 86.6640 - val_loss: 21.8046
Epoch 117/1000
2/2 [==============================] - 0s 29ms/step - loss: 85.7173 - val_loss: 22.2775
Epoch 118/1000
2/2 [==============================] - 0s 34ms/step - loss: 84.8545 - val_loss: 22.7754
Epoch 119/1000
2/2 [==============================] - 0s 28ms/step - loss: 84.0279 - val_loss: 23.3325
Epoch 120/1000
2/2 [==============================] - 0s 39ms/step - loss: 83.1199 - val_loss: 23.9116
Epoch 121/1000
2/2 [==============================] - 0s 36ms/step - loss: 82.0529 - val_loss: 24.4958
Epoch 122/1000
2/2 [==============================] - 0s 28ms/step - loss: 81.0478 - val_loss: 25.1150
Epoch 123/1000
2/2 [==============================] - 0s 32ms/step - loss: 79.9530 - val_loss: 25.7834
Epoch 124/1000
2/2 [==============================] - 0s 32ms/step - loss: 79.0351 - val_loss: 26.4758
Epoch 125/1000
2/2 [==============================] - 0s 33ms/step - loss: 77.6488 - val_loss: 27.1372
Epoch 126/1000
2/2 [==============================] - 0s 26ms/step - loss: 76.6453 - val_loss: 27.8285
Epoch 127/1000
2/2 [==============================] - 0s 32ms/step - loss: 75.2424 - val_loss: 28.5383
Epoch 128/1000
2/2 [==============================] - 0s 27ms/step - loss: 74.1036 - val_loss: 29.3822
Epoch 129/1000
2/2 [==============================] - 0s 28ms/step - loss: 72.8885 - val_loss: 30.3617
Epoch 130/1000
2/2 [==============================] - 0s 31ms/step - loss: 71.7194 - val_loss: 31.2771
Epoch 131/1000
2/2 [==============================] - 0s 28ms/step - loss: 70.3093 - val_loss: 32.1011
Epoch 132/1000
2/2 [==============================] - 0s 37ms/step - loss: 68.8011 - val_loss: 32.9858
Epoch 133/1000
2/2 [==============================] - 0s 27ms/step - loss: 67.6528 - val_loss: 33.9637
Epoch 134/1000
2/2 [==============================] - 0s 30ms/step - loss: 66.2645 - val_loss: 34.8543
Epoch 135/1000
2/2 [==============================] - 0s 28ms/step - loss: 65.9090 - val_loss: 35.5595
Epoch 136/1000
2/2 [==============================] - 0s 33ms/step - loss: 65.0471 - val_loss: 35.9260
Epoch 137/1000
2/2 [==============================] - 0s 26ms/step - loss: 64.1962 - val_loss: 36.1504
Epoch 138/1000
2/2 [==============================] - 0s 27ms/step - loss: 63.7050 - val_loss: 36.4656
Epoch 139/1000
2/2 [==============================] - 0s 31ms/step - loss: 63.0544 - val_loss: 36.7809
Epoch 140/1000
2/2 [==============================] - 0s 35ms/step - loss: 62.5688 - val_loss: 37.0728
Epoch 141/1000
2/2 [==============================] - 0s 28ms/step - loss: 61.9539 - val_loss: 37.3340
Epoch 142/1000
2/2 [==============================] - 0s 27ms/step - loss: 61.3808 - val_loss: 37.6849
Epoch 143/1000
2/2 [==============================] - 0s 28ms/step - loss: 60.7611 - val_loss: 38.0960
Epoch 144/1000
2/2 [==============================] - 0s 26ms/step - loss: 60.2176 - val_loss: 38.5009
Epoch 145/1000
2/2 [==============================] - 0s 26ms/step - loss: 59.7742 - val_loss: 38.7914
Epoch 146/1000
2/2 [==============================] - 0s 29ms/step - loss: 59.2672 - val_loss: 38.9981
Epoch 147/1000
2/2 [==============================] - 0s 31ms/step - loss: 58.8608 - val_loss: 39.1705
Epoch 148/1000
2/2 [==============================] - 0s 29ms/step - loss: 58.4512 - val_loss: 39.3757
Epoch 149/1000
2/2 [==============================] - 0s 25ms/step - loss: 58.0494 - val_loss: 39.5443
Epoch 150/1000
2/2 [==============================] - 0s 27ms/step - loss: 57.6857 - val_loss: 39.7127
Epoch 151/1000
2/2 [==============================] - 0s 28ms/step - loss: 57.2880 - val_loss: 39.8569
Epoch 152/1000
2/2 [==============================] - 0s 29ms/step - loss: 56.8737 - val_loss: 40.0136
Epoch 153/1000
2/2 [==============================] - 0s 32ms/step - loss: 56.5045 - val_loss: 40.3128
Epoch 154/1000
2/2 [==============================] - 0s 30ms/step - loss: 56.0598 - val_loss: 40.5991
Epoch 155/1000
2/2 [==============================] - 0s 28ms/step - loss: 55.7362 - val_loss: 40.8532
Epoch 156/1000
2/2 [==============================] - 0s 30ms/step - loss: 55.2605 - val_loss: 41.0035
Epoch 157/1000
2/2 [==============================] - 0s 40ms/step - loss: 54.9099 - val_loss: 41.0949
Epoch 158/1000
2/2 [==============================] - 0s 26ms/step - loss: 54.4108 - val_loss: 41.1032
Epoch 159/1000
2/2 [==============================] - 0s 33ms/step - loss: 54.1111 - val_loss: 41.1333
Epoch 160/1000
2/2 [==============================] - 0s 27ms/step - loss: 53.7303 - val_loss: 41.1334
Epoch 161/1000
2/2 [==============================] - 0s 27ms/step - loss: 53.3844 - val_loss: 41.1248
Epoch 162/1000
2/2 [==============================] - 0s 31ms/step - loss: 53.0545 - val_loss: 41.1610
Epoch 163/1000
2/2 [==============================] - 0s 30ms/step - loss: 52.7171 - val_loss: 41.2667
Epoch 164/1000
2/2 [==============================] - 0s 29ms/step - loss: 52.3398 - val_loss: 41.3962
Epoch 165/1000
2/2 [==============================] - 0s 28ms/step - loss: 51.9547 - val_loss: 41.5390
Epoch 166/1000
2/2 [==============================] - 0s 28ms/step - loss: 51.6924 - val_loss: 41.6400
Epoch 167/1000
2/2 [==============================] - 0s 32ms/step - loss: 51.1782 - val_loss: 41.6355
Epoch 168/1000
2/2 [==============================] - 0s 29ms/step - loss: 50.8638 - val_loss: 41.6692
Epoch 169/1000
2/2 [==============================] - 0s 31ms/step - loss: 50.6847 - val_loss: 41.7046
Epoch 170/1000
2/2 [==============================] - 0s 37ms/step - loss: 50.3003 - val_loss: 41.5779
Epoch 171/1000
2/2 [==============================] - 0s 33ms/step - loss: 50.0667 - val_loss: 41.4185
Epoch 172/1000
2/2 [==============================] - 0s 29ms/step - loss: 49.8863 - val_loss: 41.1950
Epoch 173/1000
2/2 [==============================] - 0s 29ms/step - loss: 49.6423 - val_loss: 41.0480
Epoch 174/1000
2/2 [==============================] - 0s 27ms/step - loss: 49.4770 - val_loss: 40.9983
Epoch 175/1000
2/2 [==============================] - 0s 31ms/step - loss: 49.2483 - val_loss: 41.0759
Epoch 176/1000
2/2 [==============================] - 0s 31ms/step - loss: 49.0904 - val_loss: 41.0469
Epoch 177/1000
2/2 [==============================] - 0s 28ms/step - loss: 48.8694 - val_loss: 40.9028
Epoch 178/1000
2/2 [==============================] - 0s 28ms/step - loss: 48.6959 - val_loss: 40.7207
Epoch 179/1000
2/2 [==============================] - 0s 30ms/step - loss: 48.6425 - val_loss: 40.6218
Epoch 180/1000
2/2 [==============================] - 0s 37ms/step - loss: 48.4539 - val_loss: 40.7005
Epoch 181/1000
2/2 [==============================] - 0s 35ms/step - loss: 48.2872 - val_loss: 40.8059
Epoch 182/1000
2/2 [==============================] - 0s 31ms/step - loss: 48.1223 - val_loss: 40.8132
Epoch 183/1000
2/2 [==============================] - 0s 28ms/step - loss: 47.9659 - val_loss: 40.7854
Epoch 184/1000
2/2 [==============================] - 0s 30ms/step - loss: 47.8647 - val_loss: 40.7436
Epoch 185/1000
2/2 [==============================] - 0s 27ms/step - loss: 47.7095 - val_loss: 40.7097
Epoch 186/1000
2/2 [==============================] - 0s 34ms/step - loss: 47.5425 - val_loss: 40.5630
Epoch 187/1000
2/2 [==============================] - 0s 28ms/step - loss: 47.4397 - val_loss: 40.3807
Epoch 188/1000
2/2 [==============================] - 0s 28ms/step - loss: 47.2806 - val_loss: 40.3472
Epoch 189/1000
2/2 [==============================] - 0s 27ms/step - loss: 47.1582 - val_loss: 40.3777
Epoch 190/1000
2/2 [==============================] - 0s 30ms/step - loss: 46.9782 - val_loss: 40.4796
Epoch 191/1000
2/2 [==============================] - 0s 50ms/step - loss: 46.8215 - val_loss: 40.5733
Epoch 192/1000
2/2 [==============================] - 0s 30ms/step - loss: 46.6671 - val_loss: 40.5826
Epoch 193/1000
2/2 [==============================] - 0s 32ms/step - loss: 46.5271 - val_loss: 40.5988
Epoch 194/1000
2/2 [==============================] - 0s 30ms/step - loss: 46.4154 - val_loss: 40.6163
Epoch 195/1000

In [ ]:
o1 = model.predict(campusx_input.reshape(1,4))
o1 = o1[0][0]
o1

33.894424

In [ ]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor()
rf.fit(X_input,y)

o2 = rf.predict(campusx_input.reshape(1,4))
o2 = o2[0]
o2

31.78900000000001

In [ ]:
from xgboost import XGBRegressor

xg = XGBRegressor()
xg.fit(X_input,y)
o3 = xg.predict(campusx_input.reshape(1,4))
o3 = o3[0]
o3

[19:40:37] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

30.60675

In [ ]:
from sklearn.svm import SVR

lr = SVR()
lr.fit(X_input,y)
o4 = lr.predict(campusx_input.reshape(1,4))
o4 = o4[0]
o4

65.87337894659072

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor

rf = GradientBoostingRegressor()
rf.fit(X_input,y)

o5 = rf.predict(campusx_input.reshape(1,4))
o5 = o5[0]
o5

29.95256049532265

In [ ]:
from sklearn.neighbors import KNeighborsRegressor

rf = KNeighborsRegressor()
rf.fit(X_input,y)

o6 = rf.predict(campusx_input.reshape(1,4))
o6 = o6[0]
o6

36.516000000000005

In [ ]:
(o1+o2+o3+o4+o5+o6)/6

38.10535239477853